<a href="https://colab.research.google.com/github/matheustoneti/firealarmpredict/blob/main/Fire_Alarm_Smoke_Predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

In [3]:
dados = pd.read_csv('smoke_detection_iot.csv')

In [4]:
dados.head(10)

,Unnamed: 0,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.0,0.00,0.0,0.000,0.00,0.0,0.0
1,1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.0,0.00,0.0,0.000,0.00,1.0,0.0
2,2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.0,0.00,0.0,0.000,0.00,2.0,0.0
3,3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.0,0.00,0.0,0.000,0.00,3.0,0.0
4,4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.0,0.00,0.0,0.000,0.00,4.0,0.0
5,5,1654733336,20.073,54.12,0,400,12419,18998,939.725,0.0,0.00,0.0,0.000,0.00,5.0,0.0
6,6,1654733337,20.088,53.61,0,400,12432,19058,939.738,0.0,0.00,0.0,0.000,0.00,6.0,0.0
7,7,1654733338,20.103,53.20,0,400,12439,19114,939.758,0.0,0.00,0.0,0.000,0.00,7.0,0.0
8,8,1654733339,20.117,52.81,0,400,12448,19155,939.758,0.0,0.00,0.0,0.000,0.00,8.0,0.0
9,9,1654733340,20.132,52.46,0,400,12453,19195,939.756,0.9,3.78,0.0,4.369,2.78,9.0,0.0

In [7]:
dados.dropna(inplace=True)

In [8]:
y = dados['Fire Alarm']
x = dados.drop(['Fire Alarm'], axis=1)

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = (0.3))

In [12]:
modelo = GradientBoostingClassifier()

In [13]:
modelo = modelo.fit(x_train, y_train)

In [14]:
score = modelo.score(x_test, y_test)

In [15]:
print(score)

1.0